/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */

.flex {
    display: flex;
}

/* Body */

body {
    width: 100%;
    height: 100vh;
    background-color: #009688;
    padding: 40px 0;
}

/* Container */

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
}

/* Contacts column */

.contacts-col {
    width: 35%;
    height: 100%;
    
    /* debug */
    background-color: blue;
}

.contacts-col header {
    width: 100%;
    height: 80px;

    /* debug */
    background-color: rgb(255, 0, 191);
}

.notifications {
    width: 100%;
    height: 90px;

    /* debug */
    background-color: #8EDAFC;
}

.search-bar {
    width: 100%;
    height: 50px;

    /* debug */
    background-color: #FAFAFA;
}

.contacts {
    overflow-y: auto;
    flex-direction: column;

    /* debug */
    background-color: darkgoldenrod;
    height: 200px;
}

@media screen and (max-width: 768px) {
    
    .notifications{
        display: none;
    }

    .search-bar {
        display: none;
    }

    body {
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .contacts-col {
        width: 15%;
    }
}

@media screen and (max-width: 425px) {
    .contacts-col {
        display: none;
    }

}

/* Chat column */

.chat-col {
    flex-grow: 1;
    height: 100%;
    border-left: 1px solid gray;
    flex-direction: column;

    /* debug */
    background-color: green;
}

.chat-col header {
    width: 100%;
    height: 80px;
    

    /* debug */
    background-color: yellow;
}

.chat-col main {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: auto;

    /* debug */
    width: 100%;
}

.chat-col footer {
    width: 100%;
    height: 80px;

    /* debug */
    background-color: darkcyan;
}