/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */

.flex {
    display: flex;
}

a {
    color: inherit;
}

button {
    color: inherit;
    background-color: inherit;
    font-size: 25px;
    border: 0;
    color: #B1B1B1;
}

.avatar-img {
    border-radius: 50%;    
    width: 60px;
    height: 60px;
}

/* Body */

body {
    width: 100%;
    height: 100vh;
    background-color: #009688;
    padding: 40px 0;
    font-family: 'Lato', sans-serif;
}

/* Container */

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
}

/* Contacts column */

.contacts-col {
    width: 35%;
    height: 100%;
    flex-direction: column;
}

/* Contacts header */

.contacts-col header {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 0 20px;
}

.contacts-h-right {
    list-style-type: none;
    gap: 10px;
}

.contacts-h-right li {
    margin-right: 10px;
}

/* Notifications */

.notifications {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.bell {
    text-align: center;
}

.bell i {
    line-height: 60px;
    background-color: white;
    color: #8EDAFC;
    font-size: 25px;
}

.notifications a {
    color: rgb(85, 85, 85);
    font-size: 0.9rem;
}

/* Search bar */

.search-bar {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;

}

.search-bar-wrapper {
    background-color: white;
    width: 95%;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
}

.search-bar input {
    flex-grow: 1;
    border: 0;
    padding: 10px;       
}

.search-bar button {
    margin: 0 10px;
    font-size: 1rem;
}

/* Contacts */

.contacts {
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;
}

.contact-chat {
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #B1B1B1;
}

.contact-name {
    flex-grow: 1;
}

.contact-name p {
    color: #B1B1B1;
}

.time {
    align-self: flex-start;
    color: #B1B1B1;
}

@media screen and (max-width: 991px) {
    
    .notifications{
        display: none;
    }

    .search-bar {
        display: none;
    }

    body {
        padding: 0;
    }

    .container {
        width: 100%;
    }

    .contacts-col {
        width: 15%;
    }
}

@media screen and (max-width: 540px) {
    .contacts-col {
        display: none;
    }

}

/* Chat column */

.chat-col {
    flex-grow: 1;
    height: 100%;
    border-left: 1px solid gray;
    flex-direction: column;

    /* debug */
    background-color: green;
}

.chat-col header {
    width: 100%;
    height: 80px;
    

    /* debug */
    background-color: yellow;
}

.chat-col main {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: auto;

    /* debug */
    width: 100%;
}

.chat-col footer {
    width: 100%;
    height: 80px;

    /* debug */
    background-color: darkcyan;
}